@model IEnumerable<proyectoWEBSITESmeall.Models.Cliente>

@{
    ViewData["Title"] = "Registro de Clientes";
    <link rel="stylesheet" href="~/css/HUser.css" />
}

<div class="header">
    <span class="header-title"><i class="fa fa-users"></i> REGISTRO DE CLIENTES</span>
    <button class="new-btn">
        <i class="fa fa-plus-circle"></i>
        <a asp-action="Create">Nuevo Cliente</a>
    </button>
</div>

<table class="table-container">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombres)</th>
            <th>@Html.DisplayNameFor(model => model.Correo)</th>
            <th>@Html.DisplayNameFor(model => model.Telefono)</th>
            <th>@Html.DisplayNameFor(model => model.Direccion)</th>
            <th>@Html.DisplayNameFor(model => model.FechaRegistro)</th>
            <th>@Html.DisplayNameFor(model => model.FechaActualizacion)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombres)</td>
                <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaActualizacion)</td>
                <td>
                    <div class="actions">
                        <a asp-action="Edit" asp-route-id="@item.IdCliente" class="action-btn edit" title="Editar">
                            <i class="fa fa-edit"></i>
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.IdCliente" class="action-btn delete" title="Eliminar">
                            <i class="fa fa-trash"></i>
                        </a>

                        <a asp-action="Details" asp-route-id="@item.IdCliente" class="action-btn info" title="Ver">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
