@model IEnumerable<proyectoWEBSITESmeall.Models.Ventum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaActualizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAlmacenNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaActualizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlmacenNavigation.IdAlmacen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVenta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVenta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
