@model IEnumerable<proyectoWEBSITESmeall.Models.Almacen>

@{
    ViewData["Title"] = "Registro de Almacenes";
    <link rel="stylesheet" href="~/css/HUser.css" />
}

<div class="header">
    <span class="header-title"><i class="fa fa-warehouse"></i> REGISTRO DE ALMACENES</span>
    <button class="new-btn">
        <i class="fa fa-plus-circle"></i>
        <a asp-action="Create">Nuevo Almacén</a>
    </button>
</div>

<table class="table-container">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Ubicacion)</th>
            <th>@Html.DisplayNameFor(model => model.Capacidad)</th>
            <th>@Html.DisplayNameFor(model => model.FechaRegistro)</th>
            <th>@Html.DisplayNameFor(model => model.FechaActualizacion)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Ubicacion)</td>
                <td>@Html.DisplayFor(modelItem => item.Capacidad)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaActualizacion)</td>
                <td>
                    <div class="actions">
                        <a asp-action="Edit" asp-route-id="@item.IdAlmacen" class="action-btn edit" title="Editar">
                            <i class="fa fa-edit"></i>
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.IdAlmacen" class="action-btn delete" title="Eliminar">
                            <i class="fa fa-trash"></i>
                        </a>

                        <a asp-action="Details" asp-route-id="@item.IdAlmacen" class="action-btn info" title="Ver">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
