@model IEnumerable<proyectoWEBSITESmeall.Models.Ventum>

@{
    ViewData["Title"] = "Registro de Ventas";
    <link rel="stylesheet" href="~/css/HUser.css" />
}

<div class="header">
    <span class="header-title"><i class="fa fa-shopping-cart"></i> REGISTRO DE VENTAS</span>
    <button class="new-btn">
        <i class="fa fa-plus-circle"></i>
        <a asp-action="Create">Nueva Venta</a>
    </button>
</div>

<table class="table-container">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FechaVenta)</th>
            <th>@Html.DisplayNameFor(model => model.FechaRegistro)</th>
            <th>@Html.DisplayNameFor(model => model.FechaActualizacion)</th>
            <th>@Html.DisplayNameFor(model => model.IdAlmacenNavigation)</th>
            <th>@Html.DisplayNameFor(model => model.IdClienteNavigation)</th>
            <th>@Html.DisplayNameFor(model => model.IdUsuarioNavigation)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FechaVenta)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaActualizacion)</td>
                <td>@Html.DisplayFor(modelItem => item.IdAlmacenNavigation.IdAlmacen)</td>
                <td>@Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)</td>
                <td>
                    <div class="actions">
                        <a asp-action="Edit" asp-route-id="@item.IdVenta" class="action-btn edit" title="Editar">
                            <i class="fa fa-edit"></i>
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.IdVenta" class="action-btn delete" title="Eliminar">
                            <i class="fa fa-trash"></i>
                        </a>

                        <a asp-action="Details" asp-route-id="@item.IdVenta" class="action-btn info" title="Ver">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
